<div class="contenedor">

    <!-- Tarjeta Delantera -->
    <section class="tarjeta" #card (click)=" rotate(card) ">
        <div class="delantera">
            
            <!-- Contenedor para logo segun numero de tarjeta -->
            <div class="logo-marca" id="logo-marca">
                <img src="assets/img/logos/visa.png" alt="">
            </div>

            <img src="assets/img/chip-tarjeta.png" class="chip" />
            <div class="datos">
                <div class="grupo">
                    <p  *ngIf="cardNumber !== '' "
                        class="numero" 
                        id="numero"> {{ cardNumber | creditNumber }}
                    </p>
                    <p  *ngIf="cardNumber == '' "
                        class="numero" 
                        id="numero"> #### #### #### ####
                    </p>
                </div>
                <div class="flexbox">
                    <div class="grupo">
                        <p class="label" 
                            >Card Holder</p>
                        <p *ngIf=" cardName !== '' "
                           class="nombre"  
                           id="nombre"> {{ cardName | uppercase | creditName }} 
                        </p>
                        <p *ngIf=" cardName == '' "
                           class="nombre"  
                           id="nombre"> Jhon Doe 
                        </p>
                    </div>
                    <div class="grupo" id="expiracion">
                        <p class="label">Expiración</p>
                        <p class="expiracion"><span id="mes">{{ month }}</span> / <span id="year">{{ year }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Tarjeta trasera -->
        <div class="trasera">
            <div class="barra-magnetica"></div>
            <div class="datos">
                <div class="grupo" id="ccv">
                    <p class="label" id="cvvLabel"> CVV </p>
                    <p class="ccvP text-end" id="codigo">***</p>
                </div>
            </div>
            <div class="logo-marca back" id="logo-marca">
                <img src="assets/img/logos/visa.png" alt="creditCard">
            </div>
        </div>
    </section>


    <!-- Boton abrir formulario -->
    <div class="contenedor-btn" #button (click)="displayForm()">
        <button class="btn-abrir-formulario" id="btn-abrir-formulario">
            <i class="fas fa-plus"></i>
        </button>
    </div>


    <!-- Formulario -->

    <form class="formulario-tarjeta" #formulario="ngForm"
          id="formulario-tarjeta">
        <div class="grupo">
            <label for="inputNumero">Número Tarjeta</label>
            <input  type="text" 
                    id="inputNumero"
                    name="cardNumber"
                    [(ngModel)]="cardNumber"
                    maxlength="21"
                    pattern="^\d*$"
                    autocomplete="off" 
                    (keyup)="complete()"
                    required>
        </div>
        <div class="grupo">
            <label for="inputNombre">Nombre</label>
            <input type="text" 
                   id="inputNombre" 
                   name="cardName"
                   [(ngModel)]="cardName"
                   maxlength="19" 
                   autocomplete="off"
                   required>
        </div>

        <div class="flexbox">
            <div class="grupo expira">
                <label for="selectMes">Expiración</label>
                <div class="flexbox">
                    <div class="grupo-select">
                        <select name="mes" 
                                id="selectMes"
                                require>
                            <option disabled selected>Mes</option>
                            <option *ngFor="let mes of mesesYear"> {{ mes }} </option>
                        </select>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div class="grupo-select">
                        <select name="year" 
                                id="selectYear" 
                                required>
                            <option disabled selected>Año</option>
                            <option *ngFor="let year of years"> {{ year }}</option>
                        </select>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </div>
            <div class="grupo ccv">
                <label for="inputCCV">CVV</label>
                <input type="text" id="inputCCV" maxlength="3" autocomplete="off">
            </div>
        </div>
        <div class="d-grid gap-2">
            <button [disabled]="formulario.invalid"
                    type="button" 
                    class="btn btn-primary row"
                    >Enviar</button>
        </div>
    </form>


</div>